.list-ab {
    background-color: blueviolet !important;
    color: #fff !important;
  }
  span {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  span:hover {
    margin-left: 10px;
  }
  .floatas{
    margin-right: 10% !important;
}
.btn{
  float: right !important;
}